{% load static %}

<!--Portfolio start-->
<div class="row">
    <div class="col-xl-6 offset-xl-3 col-md-12">
        <div class="text-center mb-lg-7 mb-5">
            <small
                class="text-uppercase ls-md fw-semibold text-body-tertiary">projets selectionnes</small>
            <h2 class="mt-5 px-lg-10 px-6">
                Liste des projets selectionnes
            </h2>

        </div>
    </div>
</div>
<div class="table-responsive-xl pb-5">
    <div class="row flex-nowrap">
        {% if request.session.selected_projects %}
            {% for project_id, project in request.session.selected_projects.items %}
        {{project}}
                <div class="col-lg-4 col-md-6">
                    <div class="card card-lift">
                        <div class="card-body pb-0">
                            <img src="{% static project.img %}" alt="{{ project.title }}" class="img-fluid rounded-top shadow-sm" />
                            <h4>{{ project.title }}</h4>
                            <p>Nombre de clics : {{ project.click_counts }}</p>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" hx-get="{% url 'project_modal_content' 'add' %}?project_id={{ project_id }}"
                                        hx-target="#projectModalContent" hx-trigger="click"
                                        class="btn btn-secondary">+</button>
                                <button type="button" hx-get="{% url 'project_modal_content' 'remove' %}?project_id={{ project_id }}"
                                        hx-target="#projectModalContent" hx-trigger="click"
                                        class="btn btn-secondary">delete</button>
                                <button type="button" hx-get="{% url 'project_modal_content' 'decrement' %}?project_id={{ project_id }}"
                                        hx-target="#projectModalContent" hx-trigger="click"
                                        class="btn btn-secondary">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <p>Aucun projet sélectionné pour le moment.</p>
      {% endif %}
    </div>
</div>

<!--Portfolio end-->


