{% load static %}



<!--Portfolio start-->
<section class="my-xl-10 py-xl-9 py-10">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-md-12">
                <div class="text-center mb-lg-7 mb-5">
                    <small
                        class="text-uppercase ls-md fw-semibold text-body-tertiary">projets selectionnes</small>
                    <h2 class="mt-5 px-lg-10 px-6">
                        Liste des projets selectionnes
                    </h2>

                </div>
            </div>
        </div>
        <div class="table-responsive-xl pb-5">
            <div class="row flex-nowrap">
                {% if request.session.selected_projects %}
                       {% for project in request.session.selected_projects %}
                          <div class="col-lg-4 col-md-6">
                        <a href="#!">
                            <div class="card card-lift">
                                <div class="card-body pb-0">
                                    <div class="mb-6">
                                        <h3 class="h4 mb-4">{{ project.title }}</h3>
                                          <p>Nombre de clics : {{ project.click_count }}</p>
                                    </div>
                                    <img src="{% static project.img %}" alt="{{ project.title }}" class="img-fluid rounded-top shadow-sm" />
                                </div>
                            </div>
                        </a>
                    </div>
                      {% endfor %}
                {% else %}
                <p>Aucun projet sélectionné pour le moment.</p>
              {% endif %}
            </div>
        </div>
    </div>
</section>
<!--Portfolio end-->

