<!doctype html>
{% load static %}

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{home_page.head_title }} | {{ home_page.head_text }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% get_media_prefix %}{{ home_page.logo_head }}">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'home/assets/styles/vendor/bootstrap.min.css' %}">
        <!-- Fonts -->
        <link rel="stylesheet" href="{% static 'home/assets/fonts/linea-font/css/linea-font.css' %}">
        <!-- Slider -->
        <link rel="stylesheet" href="{% static 'home/assets/styles/vendor/slick.css' %}">
        <!-- Lightbox -->
        <link rel="stylesheet" href="{% static 'home/assets/styles/vendor/magnific-popup.css' %}">
        <!-- Animate.css -->
        <link rel="stylesheet" href="{% static 'home/assets/styles/vendor/animate.css' %}">


        <!-- Definity CSS -->
        <link rel="stylesheet" href="{% static 'home/assets/styles/main.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/styles/responsive.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

        <!-- JS -->
        <script src="{% static 'home/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar">

          <!-- ========== Preloader ========== -->

        <div class="preloader">
          <img src="{% static 'home/assets/images/loader.svg' %}" alt="Loading...">
        </div>

        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-trans  navbar-fw" role="navigation">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <a class="navbar-brand" href="index.html"><img src="{% get_media_prefix %}{{ home_page.logo_main}}"  alt="matro - Logo"></a>

          </div>

          <!-- Navbar Links -->
          <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="#home">Accueil<span class="sr-only"></span></a></li>
              <li><a href="#about">À propos de nous<span class="sr-only"></span></a></li>
              <li><a href="#services">Services<span class="sr-only"></span></a></li>
              <li><a href="#projects">Projets <span class="sr-only"></span></a></li>
              <li><a href="#testimonials">Clients<span class="sr-only"></span></a></li>
              <li><a href="#contact">Contact<span class="sr-only"></span></a></li>
            </ul><!-- / .nav .navbar-nav -->
          </div><!--/.navbar-collapse -->
        </nav><!-- / .navbar -->



        <!-- ========== Hero Cover ========== -->

        <div id="home" class="agency2-hero">
          <div class="bg-overlay">

            <div id="large-header" class="large-header">
              <canvas id="demo-canvas" class="demo-canvas"></canvas>

              <!-- Hero Content -->
              <div class="hero-content-wrapper">
                <div class="hero-content">


                  <h1 class="hero-lead">{{home_page.company_name}} </h1>
                  <br>
                  <h4 class="h-alt hero-secondary">{{ home_page.company_slogan }}</h4>
                  <a href="#about" class="btn btn-light">À propos </a>

                  <!-- Scroller -->
                  <a href="#about" class="scroller">
                    <span class="bi bi-arrow-down-circle"></span>
                  </a>

                </div><!-- / .hero-content -->
              </div><!-- / .hero-content-wrapper -->

            </div><!-- / #large-header -->

          </div><!-- / .bg-overlay -->
        </div><!-- / #home -->



        <!-- ========== About - Section ========== -->
        <div id="about" class="gray-bg">
          <section class="container app-welcome">
            <div class="row text-center">

              <!-- App Icon -->
              <div class="ws-l"></div>
              <img src="{% get_media_prefix %}{{ main_content.about_us_photo}}" alt="matro" class="wow fadeInUp" data-wow-duration=".7s">

              <header class="col-md-offset-1 col-md-10 sec-heading-2 sec-heading-top-m ws-s">
                <h2>Bienvenue chez Matromatic</h2>
                <span class="subheading">{{ main_content.about_us_description }} </span>
              </header>
            </div><!-- / .row -->

          </section><!-- / .container -->
        </div>


        <!-- ========== Number Counters - Dark bg ========== -->
       <div class="number-counters">
          <div class="container">
            <div id="counters-min" class="row count-wrapper">

              <!-- Item 1 -->
              <div class="col-md-3 mb-sm-100 count-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                <span id="count-min-1" class="count-nbr">45</span>
                <span class="count-text">Projects completed</span>
              </div>

              <!-- Item 2 -->
              <div class="col-md-3 mb-sm-100 count-item wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                <span id="count-min-2" class="count-nbr">78</span>
                <span class="count-text">Emails Send</span>
              </div>

              <!-- Item 3 -->
              <div class="col-md-3 mb-sm-100 count-item wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                <span id="count-min-3" class="count-nbr">45</span>
                <span class="count-text">Pixels created</span>
              </div>

              <!-- Item 4 -->
              <div class="col-md-3 count-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                <span id="count-min-4" class="count-nbr">88</span>
                <span class="count-text">Happy clients</span>
              </div>

            </div><!-- / .row -->
          </div><!-- / .container -->
        </div>
        <!-- ========== Team - 3 columns ========== -->





        <!-- ========== Services ========== -->
       <section id="services" class="container section ft-centered">

              <header class="sec-heading">
                <h2>CE QUE NOUS FAISONS</h2>
                <span class="subheading">{{main_content.our_service_description}}</span>
              </header>

              <div class="row">
                {% for service in services %}
                <!-- Item 1 -->
                <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-square-frame-dark wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 0.6s; animation-delay: 0.3s; animation-name: zoomIn;">
                  <span class="{{service.icon}}"></span>
                  <h5>{{service.service_title}}</h5>
                  <p> {{service.service_description}} </p>
                </div>
                  {% endfor %}
              </div><!-- / .row -->
         </section>

        <!-- ========== Feature - Steps Numbers ========== -->

        <section class="container ft-steps-numbers">
            <div class="row section">
              <header class="sec-heading ws-s">
                <h2>NOTRE PROCESSUS DE TRAVAIL</h2>
                <span class="subheading">{{main_content.our_process_description}}</span>
              </header>
                {% for process_step  in process_steps %}
                  <div class="col-lg-4 col-md-6 mb-sm-100 ft-item wow fadeIn" data-wow-duration="{{process_step.process_number}}s">
                    <span class="ft-nbr">0{{process_step.process_number}}</span>
                    <h4>{{process_step.process_title}}</h4>
                    <p>{{process_step.process_description}}</p>
                      <br>
                      <br>

                  </div><!-- / .row -->
                {% endfor %}
            </div>
        </section><!-- / .container -->

        <div class="cta-link cta-dark">
          <div class="container">
            <div class="cta-wrapper">
              <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">VOYEZ CE QUE NOUS POUVONS FAIRE POUR VOUS</h3>
              <a href="#contact" class="btn btn-light btn-large wow fadeIn" data-wow-delay=".3s" data-wow-duration="1s">Entrerez en contact</a>
            </div>
          </div>
        </div><!-- / .dark-bg .cta-link -->

        <!-- ========== Portfolio Full Width - 4 Columns ========== -->


       <div  id="projects" class="gray-bg p-s-portfolio">
          <section class="container portfolio-layout portfolio-columns-boxed">
            <div class="row">
              <header class="sec-heading">
                <h2>NOS REALISATIONS</h2>
                <span class="subheading">{{ main_content.our_projects_description }}</span>
              </header>
            </div><!-- / .row -->

            <div class="row ws-m wow fadeIn" data-wow-duration="1s">
               {% for project in projects %}
                <!-- Item 1 -->
                <div class="col-md-4 portfolio-item print">
                  <div class="p-wrapper hover-default">
                    <img src="{% get_media_prefix %}{{project.project_photo }}" alt="{{project.project_type}}">
                    <div class="p-hover">
                      <div class="p-content">
                        <h4>{{project.project_name }}</h4>
                        <h6 class="subheading">{{project.project_type }}</h6>
                      </div>
                    </div>
                    <a href="{% get_media_prefix %}{{project.project_photo }}" class="open-btn open-gallery"><i class="bi bi-arrows-angle-expand"></i></a>
                  </div>
                </div><!-- / .portfolio-item -->
              {% endfor%}

            </div>
          </section>
          </div>


        <!-- ========== Clients List - Dark ========== -->

        <!-- / .row -->


          <section id="testimonials" class="container section ft-centered">

              <header class="sec-heading">
                <h2>Nos clients</h2>
                <span class="subheading">Read some of the testimonials from our amazing clients</span>
              </header>

              <div class="row">
                {% for client in clients %}
                <!-- Item 1 -->
                <div class="col-md-3 col-sm-6 mb-sm-50 ft-item wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 0.6s; animation-delay: 0.3s; animation-name: zoomIn;">
                  <span><img src="{% get_media_prefix %}{{ client.client_logo}}" alt="{{client.client_name}}"></span>
                </div>
                  {% endfor %}
              </div><!-- / .row -->
         </section>



          <div class="video-bg-section">
            <!-- Video Background -->
            <div id="section-video" class="player"
                 data-property="{videoURL:'https://www.youtube.com/watch?v=XiQkeWOFwmk&ab_channel=Tesla',containment:'.video-bg-section',autoPlay:true, mute:true, startAt:71, stopAt:300, opacity:1}">
            </div>
            <!-- Video Link -->
            <div class="video-sec-content">
              <h3 class="cta-lead h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">REGARDEZ LA VIDÉO POUR EN SAVOIR PLUS SUR NOUS</h3>
              <a href="https://www.youtube.com/watch?v=XiQkeWOFwmk&ab_channel=Tesla" class="play-btn popup-video">
                <span class="play-icon linea-music-play-button"></span>
                <h5>Play video</h5>
              </a>
            </div><!-- / .video-sec-content -->
          </div><!-- / .video-bg-section -->








        <!-- ========== Footer Contact ========== -->

        <footer id="contact" class="footer-contact">
          <div class="container-fluid">
            <div class="row">

              <!-- Map and address -->
              <div class="col-lg-6 no-gap contact-info">
                <!-- Show Info Button -->

                <div id="map-canvas" class="footer-map"></div>

                <address class="contact-info-wrapper">
                  <ul>
                    <!-- Email -->
                    <li class="contact-group">
                      <span class="adr-heading">Email</span>
                      <span class="adr-info">{{contact_us.email}}</span>

                    </li>
                     <!-- Address -->
                    <li class="contact-group">
                      <span class="adr-heading">Address</span>
                      <span class="adr-info"> {{contact_us.address}}</span>

                    </li>
                  </ul>
                  <ul>
                    <!-- Phone -->
                    <li class="contact-group">
                      <span class="adr-heading">Phone</span>
                      <span class="adr-info">{{contact_us.phone}}</span>

                    </li>
                    <!-- Mobile -->
                    <li class="contact-group">
                      <span class="adr-heading">Mobile</span>
                      <span class="adr-info">{{contact_us.mobile}}</span>

                    </li>
                  </ul>

                </address>

              </div><!-- / .col-lg-6 -->


              <!-- Contact Form -->
              <div class="col-lg-6 no-gap section contact-form">
                <header class="sec-heading">
                  <h2>Contact</h2>
                  <span class="subheading">Lorem ipsum dolor sit amet</span>
                </header>

                <form action="" method="POST" class="form-ajax wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">

                  <!-- Name -->
                  <div class="form-group">
                    <input type="text" name="name" id="name-contact-1" class="form-control validate-locally" placeholder="Enter your name">
                    <label for="name-contact-1">Name</label>
                    <span class="pull-right alert-error"></span>
                  </div>

                  <!-- Email -->
                  <div class="form-group">
                    <input type="email" name="email" id="email-contact-1" class="form-control validate-locally" placeholder="Enter your email">
                    <label for="email-contact-1">Email</label>
                    <span class="pull-right alert-error"></span>
                  </div>

                  <!-- Message -->
                  <div class="form-group">
                    <textarea class="form-control" name="message" id="message-contact-1" rows="5" placeholder="Your Message"></textarea>
                    <label for="message-contact-1">Message</label>
                  </div>
                  <input type="submit" class="btn pull-right" value="Send Message">

                  <!-- Ajax Message -->
                  <div class="ajax-message col-md-12 no-gap"></div>

                </form>
              </div><!-- / .col-lg-6 -->

            </div><!-- / .row -->
          </div><!-- / .container-fluid -->


          <!-- Social Links -->
          <div class="dark-bg">
            <div class="container footer-social-links">
              <div class="row">

                <ul>
                    {% for social_media in socials_media %}
                        <li><a href="{{social_media.link}}}">{{social_media.name}}</a></li>
                    {% endfor %}

                </ul>

              </div>
            </div><!-- / .container -->
          </div><!-- / .dark-bg -->


          <!-- Copyright -->
          <div class="copyright">
            <div class="container">
              <div class="row">

                <div class="col-md-6">
                  <small>&copy; 2023 Matromatic <a class="no-style-link" href="https://matromatic.com/" target="_blank"></a></small>
                </div>

                <div class="col-md-6">
                  <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                </div>

              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .copyright -->
        </footer><!-- / .footer-contact -->



        <!-- ========== Scripts ========== -->

        <script src="{% static 'home/assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/google-fonts.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/jquery.easing.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/bootstrap-hover-dropdown.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/smoothscroll.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/jquery.localScroll.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/jquery.parallax.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/slick.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/countup.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/isotope.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/wow.min.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/jquery.ajaxchimp.js' %}"></script>
        <script src="{% static 'home/assets/js/vendor/animDots.js' %}"></script>

        <!-- Google Maps -->

        <!-- Definity JS -->
        <script src="{% static 'home/assets/js/main.js' %}"></script>
    </body>
</html>
