{% extends "en-us/manager/base.html" %}

<!-- begin title -->
    {% block title %}
      <title> Matromatic Admin | Home Manager </title>
    {% endblock %}
    <!-- end title -->

<!-- begin page header -->
    {% block page_header %}
        <div class="row align-items-center">
          <div class="col-sm mb-2 mb-sm-0">
            <h1 class="page-header-title">Home Manager</h1>
          </div>
          <!-- End Col -->
          <div class="col-sm-auto">
             <a class="btn btn-light" href="{% url 'home' %}">
              <i class="bi-eye-fill me-1"></i> View
            </a>
          </div>
          <!-- End Col -->
        </div>
    {% endblock %}
<!-- end page header -->


<!-- begin content -->
    {% block content %}
    {% endblock %}
<!-- end content -->
